.container-skills {
    width: 100vw;
}

/* *************MEDIA QUERIES************** */

            /*
             MOBILE - ATÉ 768px
             TABLET - 768px até 1024px
             DESKTOP - 1024px até 1200px
             GRANDES TELAS - ACIMA DE 1200PX
            */

@media screen and (max-width: 768px) { /* CELULARES */

    .group-skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        background-color: #E7E9EE;
        width: 94vw;
        justify-self: center;
        margin-top: 20px;
        border-radius: 20px;
    }

    .group-skills h3 {
        font-family: Helvetica;
        color: #477E98;
        font-weight: 600;
        font-size: 1.2rem;
        text-shadow: .2px .2px .1px #000000;
        margin-left: 10px;
    }

    .icon-skills {
        font-size: 1.5rem;
        color: #477E98;
    }

    .details-skills {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .details-skills p {
        color: black;
        text-align: justify;
        margin-left: 10px;
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        text-shadow: .2px .2px .1px #fffbfb;
    }

    .icon-detail-skills {
        color: #477E98;
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* TABLETS */

    .group-skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        background-color: #E7E9EE;
        width: 96vw;
        justify-self: center;
        margin-top: 20px;
        border-radius: 20px;
    }

    .group-skills h3 {
        font-family: Helvetica;
        color: #477E98;
        font-weight: 600;
        font-size: 1.3rem;
        text-shadow: .2px .2px .1px #000000;
        margin-left: 10px;
    }

    .icon-skills {
        font-size: 1.5rem;
        color: #477E98;
    }

    .details-skills {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .details-skills p {
        color: black;
        text-align: justify;
        margin-left: 10px;
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        text-shadow: .2px .2px .1px #fffbfb;
    }

    .icon-detail-skills {
        color: #477E98;
        font-size: 1.2rem;
    }


}

@media screen and (min-width: 1024px) and (max-width: 1200px) { /* DESKTOP */

    .group-skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        background-color: #E7E9EE;
        width: 97vw;
        justify-self: center;
        margin-top: 20px;
        border-radius: 20px;
    }

    .group-skills h3 {
        font-family: Helvetica;
        color: #477E98;
        font-weight: 600;
        font-size: 1.3rem;
        text-shadow: .2px .2px .1px #000000;
        margin-left: 10px;
    }

    .icon-skills {
        font-size: 1.5rem;
        color: #477E98;
    }

    .details-skills {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .details-skills p {
        color: black;
        text-align: justify;
        margin-left: 10px;
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        text-shadow: .2px .2px .1px #fffbfb;
    }

    .icon-detail-skills {
        color: #477E98;
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    
    .group-skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        background-color: #E7E9EE;
        width: 98vw;
        justify-self: center;
        margin-top: 20px;
        border-radius: 20px;
    }

    .group-skills h3 {
        font-family: Helvetica;
        color: #477E98;
        font-weight: 600;
        font-size: 1.4rem;
        text-shadow: .2px .2px .1px #000000;
        margin-left: 10px;
    }

    .icon-skills {
        font-size: 1.5rem;
        color: #477E98;
    }

    .details-skills {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .details-skills p {
        color: black;
        text-align: justify;
        margin-left: 10px;
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        text-shadow: .2px .2px .1px #fffbfb;
    }

    .icon-detail-skills {
        color: #477E98;
        font-size: 1.3rem;
    }


}            
